---
import Layout from "../layouts/Base.astro";
---

<Layout
    title="Ad Astra"
    description="Ad Astra, the first open-source, example-driven encyclopedia."
>
    <!-- Parent container -->
    <div class="mt-8 flex h-full flex-grow flex-col md:mt-0 md:flex-row">
        <!-- Text container -->
        <div
            class="flex flex-col justify-center text-[color:var(--text-color)] md:w-2/3"
        >
            <h1
                class="mb-8 whitespace-nowrap text-center font-header text-2xl italic tracking-wide md:ml-20 md:text-left md:text-3xl lg:text-4xl"
            >
                Ad Astra Per Aspera
            </h1>
            <p
                class="mx-10 mb-7 text-pretty font-404 text-lg font-light opacity-95 md:ml-20 md:text-xl lg:text-2xl"
            >
                Welcome to <strong>Ad Astra</strong>, the first <strong
                    class="text-indigo-400/95"
                >
                    open-source, example-driven encyclopedia</strong
                >.
            </p>
            <p
                class="mx-10 text-pretty font-404 text-lg font-light opacity-85 md:ml-20 md:text-xl"
            >
                This blog aims to provide <span class="text-indigo-400/90"
                    >comprehensive and accessible resources</span
                >
                for anyone looking to deepen their understanding. Each topic or concept
                presented is accompanied by one or more <span
                    class="text-indigo-400/90">examples</span
                > for practical and direct learning.
            </p>
        </div>

        <!-- Rocket animation -->
        <div class="lg:max-w-sm xl:max-w-md">
            <dotlottie-player
                src={`${import.meta.env.BASE_URL}/rocket-dark.json`}
                speed="0.5"
                loop
                autoplay></dotlottie-player>
        </div>
    </div>
</Layout>

<script>
    import "@dotlottie/player-component";
</script>
