---
import { Image } from "astro:assets";
import whiteLogo from "../assets/webp/white-logo.webp";
---

<a href={`${import.meta.env.BASE_URL}/`} class="flex justify-center">
    <Image
        class="w-full max-w-5xl sm:object-top-crop md:w-4/6"
        src={whiteLogo}
        alt="Ad-Astra logo"
        id="logo"
    />
</a>
