---
import SearchIcon from "./icons/SearchIcon.astro";
import CloseIcon from "./icons/CloseIcon.astro";
---

<div class="flex items-center pb-1">
    <form
        id="search-bar"
        class="transition-width custom-bezier relative flex h-12 w-12 items-center overflow-hidden rounded-full bg-white p-[10px] duration-500"
        action="https://www.google.com/search"
    >
        <input
            class="flex w-5/6 rounded-full border-none pl-1 text-base opacity-0 outline-none transition-opacity duration-1000"
            type="search"
            placeholder="Type something..."
            id="input-field"
        />
        <div
            class="duration-600 custom-bezier absolute bottom-0 right-[2px] top-0 m-auto grid h-11 w-11 cursor-pointer place-items-center rounded-[50%] bg-[color:var(--background-color)] transition-transform"
            id="search-button"
        >
            <SearchIcon
                class="custom-bezier absolute text-2xl text-[color:var(--text-color)] transition-opacity duration-500"
                id="search-icon" />
            <CloseIcon
                class="custom-bezier absolute text-2xl text-[color:var(--text-color)] opacity-0 transition-opacity duration-500"
                id="search-close" />
        </div>
    </form>
</div>

<script>
    const searchButton = document.getElementById("search-button");
    const searchBar = document.getElementById("search-bar");
    const inputField = document.getElementById("input-field");
    const searchIcon = document.getElementById("search-icon");
    const closeIcon = document.getElementById("search-close");

    searchButton?.addEventListener("click", () => {
        searchBar?.classList.toggle("w-80");
        inputField?.classList.toggle("opacity-100");
        inputField?.classList.toggle("pointer-events-auto");
        searchIcon?.classList.toggle("opacity-0");
        closeIcon?.classList.toggle("opacity-0");
    });
</script>
